@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Lobster&display=swap');

:root {
  --color: 0 118 173;
}

::selection {
  color: #fff;
  background-color: rgb(var(--color) / 50%);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: orange;
}

.container {
  background-color: rgb(0 0 0 / 50%);
  background-image: url('https://images.unsplash.com/photo-1629312257596-5cd5fc3e48ef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  font-family: 'Lobster', cursive;
  background-color: rgb(var(--color) / 20%);
  backdrop-filter: blur(10px);
  padding: 3rem;
  border-radius: 1.5rem;
  text-align: center;
  box-shadow: 0 0 20px #0c0c0c;
  width: auto;
  max-width: 80%;
  font-size: 14px;
}

.box h1 {
  margin: 0;
  font-size: 6em;
  color: #fff;
  text-shadow: 1px 1px 2px #0c0c0c;
}
.box h3 {
  margin: 2rem 0;
  font-size: 2.5em;
  color: #fff;
  text-shadow: 1px 1px 2px #0c0c0c;
  font-family: 'Darker Grotesque', sans-serif;
}

.box a.link {
  color: #fff;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 0.5rem;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease-in-out;
}

.box a.link i {
  font-size: 2em;
}

.box a.link:hover {
  /* text-decoration: underline; */
  background-color: rgb(var(--color) / 40%);
  text-shadow: 0 1px 2px #0c0c0c;
}

@media screen and (max-width: 500px) {
  .box {
    font-size: 10px;
    padding: 1rem;
  }
  .box a.link {
    font-size: 1.5em;
    background-color: rgb(var(--color) / 40%);
    color: #fff;
    display: flex;
    margin: 0.5rem 0;
  }
  .box a.link:last-child {
    margin-bottom: 0;
  }
}
