@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Lobster&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --color: 0 118 173;
  --animation: init 700ms ease-in-out;

  /* --color: 227 124 34; */
  /* --color: 176 25 171; */
}

::selection {
  color: #fff;
  background-color: rgb(var(--color) / 50%);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #020424;
}

.container {
  background-color: rgb(0 0 0 / 50%);
  background-image: url('https://cdn.jsdelivr.net/gh/mDep07/miguel-depiante@master/img/img4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow-y: auto;
}

.box {
  font-family: 'Lobster', cursive;
  background-color: rgb(var(--color) / 20%);
  backdrop-filter: blur(10px);
  padding: 3rem;
  border-radius: 1.5rem;
  text-align: center;
  box-shadow: 0 0 20px #0c0c0c;
  width: auto;
  max-width: 80%;
  height: auto;
  max-height: 90%;
  overflow-y: auto;
  font-size: 14px;
  transition: all 0.5s ease-in-out;
}

.box::-webkit-scrollbar {
  display: none;
}

.box .img__profile {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 1000px;
  border: 5px solid #fff;
  box-shadow: 0 1px 4px rgb(var(--color)), 0 1px 6px rgb(var(--color) / 80%),
    0 2px 12px rgb(var(--color) / 45%);
  background-image: url('https://cdn.jsdelivr.net/gh/mDep07/miguel-depiante@master/img/_miguel.jpg');
  background-size: 200%;
  background-position: center;
  background-blend-mode: screen;
}

.box h1 {
  margin: 0;
  font-size: 6em;
  color: #fff;
  text-shadow: 2px 2px 0 rgb(var(--color)), 4px 4px 0 rgb(var(--color) / 50%),
    6px 6px 0 rgb(var(--color) / 25%);
}

.box .description {
  background-color: rgb(var(--color) / 20%);
  margin: 2rem 0;
  padding: 5px 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 0 3px rgb(var(--color));
}

.description h3 {
  font-family: 'Darker Grotesque', sans-serif;
  margin: 0.5rem 0;
  font-size: 2em;
  color: #fff;
  text-shadow: 1px 1px 2px #0c0c0c;
  text-align: left;
}

/* .description h3:nth-child(odd) {
  text-align: left;
} */

.box .links__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.8rem;
  margin-bottom: 0.5rem;
}

.links__container a.link {
  font-family: 'Darker Grotesque', sans-serif;
  color: #fff;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 0.5rem;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease-in-out;
}

.links__container a.link i {
  font-size: 2em;
  margin-right: 0.25rem;
}

.links__container a.link:hover {
  background-color: rgb(var(--color) / 40%);
  text-shadow: 0 1px 2px #0c0c0c;
}

.box .panel__container {
  font-family: 'Darker Grotesque', sans-serif;
  padding: 0 0.5rem;
}

.box .panel__container::before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 100px;
  background-color: rgb(var(--color));
  margin-bottom: 1rem;
}

.panel__container .open__panel {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 0.5rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(var(--color) / 20%);
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1rem 0;
  padding-left: 2.25rem;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.panel__container .open__panel.active {
  padding-left: 3.25rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

.panel__container .open__panel::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 2px;
  left: 10px;
  background-color: currentColor;
}
.panel__container .open__panel::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 16px;
  left: 17px;
  background-color: currentColor;
  transition: transform 0.15s ease-in-out;
}

.panel__container .open__panel.active::after {
  transform: rotate(90deg);
}

.panel__container .panel {
  font-family: 'Darker Grotesque', sans-serif;
  background-color: rgb(var(--color) / 20%);
  font-weight: 500;
  font-size: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}

.panel__container .open__panel.active ~ .panel {
  border-radius: 0 0 0.5rem 0.5rem;
}

.panel__container .panel ol {
  list-style-type: none;
  padding: 0 1rem;
  margin: 0;
  color: #fff;
}

.panel ol li {
  text-align: start;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.panel ol li:not(:last-child) {
  border-bottom: 1px solid rgb(var(--color));
}

.panel ol li div:first-child {
  display: flex;
  align-items: center;
}

.panel ol li .bx {
  font-size: 2rem;
}
.panel ol li .bx.bx-star,
.panel ol li .bx.bxs-star,
.panel ol li .bx.bxs-star-half {
  font-size: 1rem;
  color: #ffde4d;
}
.panel ol li .subtitle {
  display: block;
  width: 100%;
  padding-left: 2.5rem;
  font-size: 1rem;
  color: #cfcfcf;
  font-weight: 300;
}
.panel .img {
  height: 120px;
  filter: drop-shadow(0 4px 6px #0c0c0c);
}

.panel .form {
  font-family: 'Darker Grotesque', sans-serif;
  width: 80%;
  margin: 1rem auto;
}

.form .input__form {
  position: relative;
  margin-bottom: 1.5rem;
}

.form .input__form > input,
.form .input__form > textarea {
  font-family: 'Darker Grotesque', sans-serif;
  display: block;
  width: 100%;
  font-size: 1rem;
  border: none;
  padding: 0.5rem;
  border-radius: 0;
  border-bottom: 2px solid rgb(var(--color));
  background-color: transparent;
  color: #fff;
  transition: all 0.15s ease-in;
}

form .input__form > textarea {
  resize: none;
}

form .input__form > textarea::-webkit-scrollbar {
  display: none;
}

.form .input__form > input:focus,
.form .input__form > textarea:focus {
  outline: none;
  background-color: rgb(var(--color) / 50%);
}
.form .input__form > input::placeholder {
  color: #fff;
}

.form .input__form > label {
  position: absolute;
  bottom: 1rem;
  left: 0.5rem;
  display: block;
  width: 100%;
  text-align: start;
  color: rgb(var(--color));
  cursor: text;
  transition: all 0.2s ease-in-out;
  font-size: 1.25rem;
}

.form .input__form > input:focus ~ label,
.form .input__form > input.has_content ~ label {
  bottom: 2.5rem;
  font-size: 1rem;
}

.form .input__form > textarea:focus ~ label,
.form .input__form > textarea.has_content ~ label {
  bottom: 3.9rem;
  font-size: 1rem;
}

.form .submit__form {
  /* font-family: 'Darker Grotesque', sans-serif; */
  color: #fff;
  background-color: transparent;
  border: none;
  padding: 0.5rem 1.25rem;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.form .submit__form .bx {
  transform: translate(-0.5rem, 0);
  opacity: 0;
  font-size: 1.5rem;
  transition: all 0.15s ease-in;
}

.form .submit__form:hover {
  background-color: rgb(var(--color) / 40%);
  text-shadow: 0 1px 2px #0c0c0c;
}

.form .submit__form:hover .bx {
  transform: translate(0.25rem, 0);
  opacity: 1;
}

.form .submit__form:hover span {
  transition: all 0.15s ease-in-out;
}

.form .submit__form:hover span {
  margin-right: 0.5rem;
}

.box .colors__container {
  margin: 1rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.colors__container .color {
  display: inline-block;
  padding: 0.5rem;
}

.colors__container .color label {
  position: relative;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: rgb(var(--color));
  border-radius: 100px;
  box-shadow: 0 0 0 2px rgb(var(--color) / 60%);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.colors__container .color input {
  display: none;
}
.colors__container .color input:checked ~ label {
  box-shadow: 0 0 0 2px #f5f5f5;
  transform: scale(1.2);
}

@media screen and (max-width: 500px) {
  .box {
    font-size: 10px;
    padding: 1rem;
    max-width: 95%;
    max-height: 95%;
  }
  .links__container {
    flex-direction: column;
  }

  .links__container a.link {
    font-size: 1.5em;
    background-color: rgb(var(--color) / 40%);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 70px;
    max-height: 70px;
    /* margin-bottom: 0.5rem; */
  }

  .links__container a.link:active,
  .links__container a.link:focus {
    box-shadow: 0 0 0 3px rgb(255 255 255 / 55%);
  }

  .links__container a.link:last-child {
    margin-bottom: 0;
  }
}

.animation {
  opacity: 0;
  transform: translateY(100px);
}
.animation.start {
  animation: var(--animation);
}

@keyframes init {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
